<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{{appName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="bower_components/angular-animate/angular-animate.min.js"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/simple-line-icons/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.min.css"/>
    <link rel="stylesheet" href="assets/themes/angulr/css/app.min.css">

    <!-- build:css dist/app.min.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->



    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
</head>
<body>
<div class="app app-header-fixed app-aside-dock" id="app">
    <!-- navbar -->
    <div data-ng-include="'app/cors/templates/angulr/header.html'" class="app-header navbar" ng-if="showHeader"></div>
    <!-- / navbar -->
    <div class="app-content">
        <div class="app-content-body" ui-view></div>
    </div>
    <toaster-container></toaster-container>

    <div data-ng-include="'app/cors/templates/angulr/footer.html'" ng-if="showFooter"></div>
</div>
<!-- build:js dist/app.min.js -->
<!-- External lib -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/restangular/dist/restangular.min.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/angular-socket-io/socket.min.js"></script>
<script src="bower_components/angular-load/angular-load.min.js"></script>
<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
<script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
<script src="bower_components/angular-md5/angular-md5.min.js"></script>


<!-- Cors -->
<script src="app.js"></script>
<script src="app/cors/config/constant.js"></script>
<script src="app/cors/config/routes.js"></script>
<script src="app/cors/services/localStore.service.js"></script>
<script src="app/cors/services/translation.service.js"></script>
<script src="app/cors/services/errors.service.js"></script>
<script src="app/cors/services/rest.service.js"></script>
<script src="app/cors/services/api.service.js"></script>
<script src="app/cors/services/firebase.service.js"></script>
<script src="app/cors/services/tools.service.js"></script>
<script src="app/cors/services/user.service.js"></script>
<script src="app/cors/services/random.service.js"></script>
<script src="app/cors/services/alert.service.js"></script>
<script src="app/cors/factory/socket.factory.js"></script>
<script src="app/cors/filters/toRelativeTime.filter.js"></script>
<script src="app/cors/filters/toDate.filter.js"></script>
<script src="app/cors/directives/menu.directive.js"></script>
<script src="app/cors/directives/scroll.directive.js"></script>
<script src="app/cors/controllers/language.controller.js"></script>
<script src="app/cors/controllers/login.controller.js"></script>
<script src="app/cors/controllers/lock.controller.js"></script>
<script src="app/cors/translations/fr_FR.js"></script>
<script src="app/cors/translations/en_EN.js"></script>

<!-- angulr -->
<script src="assets/themes/angulr/libs/angular/angular-ui-utils/ui-utils.js"></script>
<script src="assets/themes/angulr/js/constant.js"></script>
<script src="assets/themes/angulr/js/services/ui-load.js"></script>
<script src="assets/themes/angulr/js/directives/ui-jq.js"></script>

<!-- HomeModule -->
<script src="app/modules/HomeModule/home.module.js"></script>
<script src="app/modules/HomeModule/config/routes.js"></script>
<script src="app/modules/HomeModule/controllers/home_controller.js"></script>
<script src="app/modules/HomeModule/translations/fr_FR.js"></script>
<script src="app/modules/HomeModule/translations/en_EN.js"></script>

<!-- NewModule -->

<!-- endbuild -->


</body>
</html>

