<form role="form" ng-submit="save()" class="form-horizontal">
    <div class="form-group" ng-repeat="(key, setting) in settings" ng-switch="setting.type">
        <label class="col-sm-3 control-label text-left">{{ setting.translation | translate }}</label>
        <div ng-switch-when="select" class="col-sm-9 no-padding-left">
            <ui-select ng-model="setting.value" theme="bootstrap">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in setting.lists | filter: $select.search">
                    <span>{{item}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="checkbox" ng-switch-when="checkbox">
            <label class="i-checks i-checks-md">
                <input type="checkbox" ng-model="setting.value"><i></i>
            </label>
        </div>
        <label class="i-switch i-switch-md m-t-xs m-r {{setting.css}}" ng-switch-when="switch">
            <input type="checkbox" ng-model="setting.value">
            <i></i>
        </label>
        <input type="{{setting.type}}" class="form-control" ng-model="setting.value" id="{{key}}" ng-switch-default/>

    </div>
    <button type="submit" class="btn btn-sm btn-primary">{{ 'SAVE' | translate }}</button>
</form>