<div class="modal-over bg-black">
    <div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-100px 0 0 -100px;">
        <div class="thumb-lg">
            <img src="{{user.picture}}" class="img-circle">
        </div>
        <p class="h4 m-t m-b">{{ user.username }}</p>
        <div class="input-group">
            <input type="password" class="form-control text-sm btn-rounded no-border" placeholder="{{ 'LOGIN.PASSWORD' | translate }}" ng-model="lock.password">
      <span class="input-group-btn">
        <button class="btn btn-success btn-rounded no-border" ng-click="unlock(lock.password)"><i class="fa fa-arrow-right"></i></button>
      </span>
        </div>
    </div>
</div>