<div class="bg-light lter b-b wrapper-md" ng-controller="UserChangePasswordController">
    <h1 class="m-n font-thin h3">{{ 'USER.SETTINGS' | translate }}</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <cors-form settings="settings" object="fitness" save="saveTest"></cors-form>
                </div>
            </div>
        </div>
    </div>
</div>