<div class="bg-light lter b-b wrapper-md" ng-controller="UserChangePasswordController">
    <h1 class="m-n font-thin h3">{{ userEdit.username }}</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">{{ 'USER.CHANGE_PWD' | translate }}</div>
                <div class="panel-body">
                    <cors-form settings="form" object="userPwd" save="save"></cors-form>
                </div>
            </div>
        </div>
    </div>
</div>