<div class="bg-light lter b-b wrapper-md" ng-controller="UserChangePasswordController">
    <h1 class="m-n font-thin h3">{{ userEdit.username }}</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">{{ 'USER.CHANGE_PWD' | translate }}</div>
                <div class="panel-body">
                    <form role="form" ng-submit="change(oldpwd, newpwd, confpwd)">
                        <div class="form-group">
                            <label>{{ 'USER.OLDPWD' | translate }} *</label>
                            <input type="password" class="form-control" ng-model="oldpwd" required>
                        </div>
                        <div class="form-group">
                            <label>{{ 'USER.NEWPWD' | translate }} *</label>
                            <input type="password" class="form-control" ng-model="newpwd" required>
                        </div>
                        <div class="form-group">
                            <label>{{ 'USER.CONFPWD' | translate }} *</label>
                            <input type="password" class="form-control" ng-model="confpwd" required>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">{{ 'UPDATE' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>