<div class="bg-light lter b-b wrapper-md" ng-controller="UserChangeAvatarController">
    <h1 class="m-n font-thin h3">{{ user.username }}</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">{{ 'USER.CHANGE_AVATAR' | translate }}</div>
                <div class="panel-body">
                    <form ng-submit="save()">
                        <div class="form-group">
                            <label>{{ 'USER.PROFIL_PICTURE' | translate }}</label>
                            <input id="fileInput" ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                        </div>
                        <div class="hbox hbox-auto-xs">
                            <div class="col">
                                <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
                                    <div class="bg-light" style="height:320px">
                                        <img-crop
                                                image="myImage"
                                                result-image="myCroppedImage"
                                                result-image-size="160"
                                                area-type="square"
                                        ></img-crop>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="inline bg-white wrapper-sm b-a">
                                    <div class="bg-light">
                                        <img ng-src="{{myCroppedImage}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'SAVE' | translate}}</button>
                        <button type="button" class="btn btn-danger" ng-click="delete()">{{ 'REMOVE' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>